.footer {
  background-color: #464646;
  padding: 20px 0 40px 0;
  text-align: center;
  font-size: 14px;
  color: #979797;
}

.footer-list {
  margin: 0 auto 50px 0;
  & li {
    margin: 0 5px;
    display: inline;
  }
  &::after {
    content:"";
    width: 100%;
    height: 1px;
    background: #6b6b6b;
    position: absolute;
    left: 0;
    margin: 0 0 85px 0;
    bottom:0;
  }
}
