.header {
  &-top {
    background-color: #505050;
    height: 50px;
    padding: 8px 0;
    &__wrapper {
      display: flex;
      align-items: center;
    }
  }
  &-bottom {
    height: 90px;
    padding: 10px 0;
    &__wrapper {
      display: flex;
      align-items: center;
    }
    &__descr {
      color: #464646;
      font-size: 18px;
      font-weight: 300;
      width: 250px;
      margin: 0 36px 0 19px;
    }
    &__contacts {
      display: flex;
    }
    &__item {
      display: flex;
      margin-right: 25px;
      div {
        margin-left: 7px;
      }
    }
    &__title {
      color: #2a2a2a;
      font-size: 12px;
      font-weight: 300;
    }
    &__subtitle {
      color: #464646;
      font-size: 21px;
      font-weight: 500;
    }
    &__logo {
      border-right: 1px solid #17426a;
      img {
        margin-right: 25px;
      }
    }
  }
}
.apple-icon {
  img {
    padding: 5px 10px;
    border-right: 1px dotted #8d8d8d;
    border-left: 1px dotted #8d8d8d;
    margin-right: 78px;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
    &__item {
      list-style: none;
      padding: 0 24px;
      border-right: 1px dotted #8d8d8d;
      a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 100;
        line-height: 32px;
        &:hover {
          color: #8d8d8d;
          text-decoration: none;
        }
      }
      &:last-child {
        border:none;
      }
    }
}


.button a{
  display: block;
  width: 173px;
  height: 45px;
  background-color: #3fc7db;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  &:hover{
    background-color: darken(#3fc7db, 10%);
  }
}