.thirdsection {
  background-color: #f0f3f8;
  padding: 65px 0;
}

.tabs {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  &-item a {
    display: block;
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: #ffa14b;
    border: 1px solid #ffa14b;
    border-radius: 25px;
    font-weight: 300;
    font-size: 15px;
    padding: 8px;
    margin: 0 4px;
    &:hover {
      background-color:#ffa14b;
      color: #fff;
    }
  }
}

.active a {
  background-color:#ffa14b;
  color: #fff
}

table {
  width: 100%;
  font-weight: 300;
  font-size: 17px;
  border-collapse: collapse;
  border-spacing: 0;
  & thead {
    background-color:#3fc7db;
    color: #fff;
  }
  & td {
    padding: 0 25px;
    height: 56px;
    vertical-align: middle;
    border-right: 1px solid #52e9fe;
  }
  & tbody tr {
    background:#f0f3f8;
    & td {
      border: 1px solid #fff;
    }
    & td:last-child {
      font-weight: 500;
    }
  }
  & tbody tr:nth-child(even) {
    background:#fff;
  }
}


.table-button {
  position: absolute;
  left: 15;
  top: 56px;
  width: 1140px;
  height: 56px;
  background: #ffa14b;
  display: none;
}
.button-content {
  display: table;
  margin: 0 auto;
  & span {
    display: block;
    margin: 0 20px 0 0;
    line-height: 55px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    float: left;
  }
  & a {
    display: block;
    float: left;
    width: 122px;
    height: 45px;
    line-height: 45px;
    margin: 5px 0 0 0;
    border-radius: 22.5px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid #fff;
  }
}

.bottom {
  text-align: center;
  &-title {
    width: 1100px;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    margin: 60px auto 30px auto;
  }
  &-button a {
    display: block;
    width: 220px;
    height: 56px;
    background-color: #ffa14b;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    margin: 0 auto;
    &:hover{
      background-color: darken(#ffa14b, 10%);
    }
  }
}
